Repository latentnyc/RoundTable_4_1: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-console-log-frontend, no-print-backend

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

# -   repo: https://github.com/yelp/detect-secrets
#     rev: v1.4.0
#     hooks:
#     -   id: detect-secrets
#         args: ['--baseline', '.secrets.baseline']
#         exclude: package-lock.json

-   repo: local
    hooks:
    -   id: no-console-log-frontend
        name: No console.log in Frontend
        entry: console\.log
        language: pygrep
        types: [text]
        files: ^frontend/src/.*\.tsx?$
        exclude: ^frontend/src/lib/firebase.ts|vite.config.ts
    -   id: no-print-backend
        name: No print() in Backend
        entry: print\(
        language: pygrep
        types: [python]
        files: ^backend/app/
        exclude: ^backend/tests/|^backend/debug_db.py|^backend/scripts/

Docs: Update README for Friday the 13th
  README.md
Due: none

Prepare codebase for cloud deployment: cleanup and new components
  backend/app/callbacks.py
  backend/app/dtos.py
  backend/app/logging_config.py
  backend/app/routers/campaigns.py
  backend/app/services/ai_service.py
  backend/app/services/command_service.py
  backend/app/services/narrator_service.py
  backend/app/services/vector_store.py
  backend/app/socket/handlers/chat.py
  backend/app/socket/handlers/game_state.py
  backend/db/session.py
  backend/deploy.ps1
  backend/main.py
  backend/scripts/manage_db.py
  deploy_cloud.md
  docker-compose.yml
  frontend/src/components/CampaignSettings.tsx
  frontend/src/components/GameInterface.tsx
  frontend/src/components/SceneVisPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/socket.ts
  frontend/src/pages/CampaignMain.tsx
  frontend/src/pages/CampaignStart.tsx
  run_local.ps1
Due: no-console-log-frontend, no-print-backend

Docs: Update README with Crystal Ball Update and correct project name
  README.md
Due: none

minor security update
  backend/app/routers/characters.py
  backend/app/routers/game.py
Due: no-print-backend

chore(deps): restore react-zoom-pan-pinch package-lock
  frontend/package-lock.json
Due: none

fix(combat): Refactor turn manager and combat loop to prevent race conditions and AI turn skipping
  backend/app/commands/combat.py
  backend/app/models.py
  backend/app/services/combat_service.py
  backend/app/services/turn_manager.py
  backend/tests/test_game_loop.py
  backend/tests/test_turn_concurrency.py
  backend/tests/verify_attack_fix.py
Due: no-print-backend

feat(state): Enhance game state patching, sync stability, and fix corpse rendering
  backend/app/callbacks.py
  backend/app/services/loot_service.py
  backend/app/services/state_service.py
  backend/app/socket/handlers/connection.py
  backend/app/socket/handlers/exploration.py
  backend/app/socket/handlers/game_state.py
  backend/app/socket/handlers/inventory.py
  backend/app/socket_manager.py
  frontend/src/components/BattlemapPanel.tsx
  frontend/src/lib/SocketProvider.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/socket.ts
Due: no-console-log-frontend, no-print-backend

feat(chat): Implement structured message types and improve AI tool invocation logs
  backend/app/agents.py
  backend/app/ai_tools.py
  backend/app/routers/chat.py
  backend/app/services/ai_service.py
  backend/app/services/narrator_service.py
  backend/app/socket/handlers/chat.py
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/CommandSuggestions.tsx
  frontend/src/lib/chatUtils.tsx
Due: no-console-log-frontend, no-print-backend

chore: Update campaign json configs, fix test scripts, and general cleanup
  .gitignore
  README.md
  backend/.gitignore
  backend/app/commands/base.py
  backend/app/commands/exploration.py
  backend/app/commands/interaction.py
  backend/app/commands/system.py
  backend/app/firebase_config.py
  backend/app/routers/auth.py
  backend/app/routers/campaigns.py
  backend/app/routers/compendium.py
  backend/app/services/command_service.py
  backend/app/services/game_service.py
  backend/app/services/lock_service.py
  backend/db/session.py
  backend/game_engine/tools.py
  backend/main.py
  backend/scripts/update_goblin_test.py
  backend/tests/test_identification.py
  firebase.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DebugPanel.tsx
  frontend/src/components/EntityListPanel.tsx
  frontend/src/components/FullCharacterSheet.tsx
  frontend/src/lib/rules/classLoadouts.ts
  frontend/src/pages/CampaignDash.tsx
  frontend/src/pages/CampaignStart.tsx
  frontend/src/pages/CreateCharacter.tsx
  frontend/src/pages/LogViewer.tsx
  frontend/src/store/characterStore.ts
  frontend/src/store/createCharacterStore.ts
  games/Goblin_Combat_Test.json
  run_local.ps1
  run_local.sh
Due: no-console-log-frontend, no-print-backend

Update README with full project documentation
  README.md
Due: none

feat: Spell system, condition system, AI spellcasting, rest, skill checks
  backend/app/commands/exploration.py
  backend/app/models.py
  backend/app/services/combat_service.py
  backend/app/services/command_service.py
  backend/app/services/condition_service.py
  backend/app/services/spell_service.py
  backend/app/services/state_service.py
  backend/app/services/test_campaign_setup.py
  backend/app/services/turn_manager.py
  backend/app/socket/handlers/exploration.py
  backend/app/socket/handlers/game_state.py
  backend/game_engine/engine.py
  backend/tests/test_conditions.py
  backend/tests/test_models.py
  backend/tests/test_spell_service.py
  backend/tests/test_turn_manager.py
  frontend/src/components/BattlemapPanel.tsx
  frontend/src/components/EntityListPanel.tsx
  frontend/src/lib/socket.ts
Due: no-console-log-frontend, no-print-backend

chore: Track all previously untracked project files
  backend/app/agents/__init__.py
  backend/app/agents/character_agent.py
  backend/app/agents/dm_agent.py
  backend/app/agents/models.py
  backend/app/agents/summarizer.py
  backend/app/prompts/bark.txt
  backend/app/prompts/combat_narration.txt
  backend/app/prompts/identify.txt
  backend/app/prompts/interaction.txt
  backend/app/prompts/movement.txt
  backend/app/prompts/turn_start.txt
  backend/app/services/ai_turn_service.py
  backend/app/services/connection_service.py
  backend/app/services/interaction_service.py
  backend/app/services/movement_service.py
  backend/app/services/pathfinding_service.py
  backend/app/utils/entity_utils.py
  backend/app/utils/grid_utils.py
  backend/bandit_report.json
  backend/check_hexes.py
  backend/game_engine/resolvers/__init__.py
  backend/game_engine/resolvers/attack_resolver.py
  backend/game_engine/resolvers/base.py
  backend/game_engine/resolvers/cast_resolver.py
  backend/scripts/dump_intro_exception.py
  backend/scripts/dump_last_logs.py
  backend/test_enemy_hp.py
  backend/tests/test_ai_pathfinding.py
  backend/tests/test_chat_service.py
  backend/tests/test_hex_movement.py
  backend/tests/test_socket_auth.py
  backend/tests/test_spawn_trio.py
  backend/tests/verify_join_campaign.py
  backend/tests/verify_postgres_counts.py
  frontend/src/lib/hexMath.ts
  issues_report.md
  kill_all.sh
Due: no-console-log-frontend, no-print-backend

docs: Update README with spell system, conditions, new commands, 98 tests
  README.md
Due: none

fix(ci): Fix lint failures — downgrade pre-existing issues to warnings
  .github/workflows/ci.yml
  frontend/eslint.config.js
  frontend/src/components/CommandSuggestions.tsx
Due: no-console-log-frontend

fix: Cantrip scaling, save proficiency, damage resistance, SQL injection, and codebase-wide quality pass
  backend/app/auth_utils.py
  backend/app/callbacks.py
  backend/app/dtos.py
  backend/app/routers/campaigns.py
  backend/app/routers/compendium.py
  backend/app/routers/items.py
  backend/app/services/combat_service.py
  backend/app/services/condition_service.py
  backend/app/services/data_loader.py
  backend/app/socket/handlers/chat.py
  backend/game_engine/character_sheet.py
  backend/game_engine/dice.py
  backend/game_engine/engine.py
  frontend/src/components/BattlemapPanel.tsx
  frontend/src/lib/hexMath.ts
  frontend/src/lib/socket.ts
  frontend/src/pages/CampaignDash.tsx
  frontend/src/pages/CreateCharacter.tsx
Due: no-console-log-frontend, no-print-backend

feat: Monster multiattack, concentration, expanded spells (35 total)
  CLAUDE.md
  backend/app/models.py
  backend/app/services/ai_turn_service.py
  backend/app/services/combat_service.py
  backend/app/services/condition_service.py
  backend/app/services/spell_service.py
  backend/game_engine/engine.py
  backend/tests/test_conditions.py
  backend/tests/test_multiattack.py
  backend/tests/test_spell_service.py
  games/Goblin_Combat_Test.json
Due: no-print-backend

docs: Update README with service management, 35 spells, 118 tests, concentration, multiattack
  README.md
Due: none

fix: First user after --reset-db now correctly gets admin status
  backend/app/routers/auth.py
Due: no-print-backend

fix: Update test campaign model to gemini-2.5-flash (preview model expired)
  backend/app/services/test_campaign_setup.py
Due: no-print-backend

chore: Switch test campaign model to gemini-3-flash-preview
  backend/app/services/test_campaign_setup.py
Due: no-print-backend

fix: Quick Join button now shows for 127.0.0.1 (not just localhost)
  frontend/src/pages/CampaignDash.tsx
Due: no-console-log-frontend

feat: add gpdoc MCP server configuration files for environment integration
  .codex/config.toml
  .cursor/mcp.json
  .mcp.json
  .vscode/mcp.json
Due: none

docs: add metadata front matter to architecture.md
  design_docs/architecture.md
Due: none

test: improve test coverage and update mocks for turn manager
  backend/tests/test_llm_output.py
  backend/tests/test_spawn_trio.py
  backend/tests/test_turn_manager.py
Due: none

feat: add llm_provider column to campaigns for multi-provider support
  AGENTS.md
  backend/app/services/llm_provider.py
  backend/app/services/rules_engine.py
  backend/data/dm_rules/combat_protocol.md
  backend/data/dm_rules/conditions_reference.md
  backend/data/dm_rules/dm_persona.md
  backend/data/dm_rules/narration_guide.md
  backend/db/init_db.py
  backend/db/schema.py
  backend/requirements.txt
Due: no-print-backend

refactor: modularize agent code and add llm_provider support
  backend/app/agents.py
  backend/app/agents/character_agent.py
  backend/app/agents/dm_agent.py
  backend/app/agents/models.py
  backend/app/agents/summarizer.py
  backend/app/dtos.py
  backend/app/routers/campaigns.py
  backend/app/services/ai_service.py
  backend/app/services/llm_provider.py
  backend/app/services/system_service.py
  backend/tests/test_llm_provider.py
  frontend/src/components/CampaignSettings.tsx
  frontend/src/lib/api.ts
Due: no-console-log-frontend, no-print-backend

feat: add testing setup, input focus, skeleton loading, character sheet
  frontend/package.json
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/EntityListPanel.tsx
  frontend/src/components/FullCharacterSheet.tsx
  frontend/src/components/GameInterface.tsx
  frontend/src/pages/CampaignMain.tsx
  frontend/src/test/ChatInterface.test.tsx
  frontend/src/test/ErrorBoundary.test.tsx
  frontend/src/test/SocketProvider.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: no-console-log-frontend

feat(combat): extract death handling and opportunity attack to DeathService
  AGENTS.md
  backend/app/services/combat_service.py
  backend/app/services/death_service.py
  backend/app/services/game_service.py
  backend/app/services/loot_service.py
  backend/app/services/movement_service.py
  backend/app/services/opportunity_service.py
  backend/tests/test_combat_service.py
  backend/tests/test_opportunity_service.py
Due: no-print-backend

feat: implement hierarchical markdown chunking with header tracking
  backend/app/services/rules_engine.py
  backend/tests/test_llm_provider.py
Due: no-print-backend

feat: enable db-aware tool execution and add movement tool
  backend/app/agents/dm_agent.py
  backend/app/services/ai_service.py
  backend/game_engine/tools.py
  backend/tests/test_agent_tools.py
Due: no-print-backend

refactor(tests): inline sheet_data into player_factory calls for consistency
  backend/tests/test_agent_tools.py
Due: none

chore: update documentation paths and improve deploy script
  AGENTS.md
  backend/scripts/deploy.ps1
Due: none

perf(backend): add thread-safe cache and DB indexes for campaign queries
  backend/app/services/connection_service.py
Due: no-print-backend

refactor: inject DM rules directly instead of per-call RAG retrieval
  backend/app/agents/dm_agent.py
  backend/app/services/dm_rules.py
  backend/app/services/llm_provider.py
  backend/app/services/rules_engine.py
  backend/tests/test_llm_provider.py
Due: no-print-backend

fix: campaign config degrades gracefully when no BYOK key is set
  backend/app/services/ai_service.py
Due: no-print-backend

chore: drop machine-specific editor/MCP configs
  .codex/config.toml
  .cursor/mcp.json
  .gitignore
  .mcp.json
  .vscode/mcp.json
  AGENTS.md
Due: none
