Repository latentnyc/RoundTable_4_1: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-console-log-frontend, no-print-backend

no-console-log-frontend:
  name: No console.log in Frontend
  entry: console\.log
  language: pygrep

no-print-backend:
  name: No print() in Backend
  entry: print\(
  language: pygrep

test: fix ChatInterface test mocks; label send button
  frontend/package-lock.json
  frontend/src/components/ChatInterface.tsx
  frontend/src/test/ChatInterface.test.tsx
Due: no-console-log-frontend

feat(memory): Sprint 1 foundation — episodic store, salience, ranking
  backend/app/events/__init__.py
  backend/app/events/game_event.py
  backend/app/services/memory_service.py
  backend/db/init_db.py
  backend/tests/test_memory_service.py
Due: no-print-backend

test(memory): verify DB layer on live Postgres; fix NULL-param cast & eligibility gate
  backend/app/services/memory_service.py
  backend/tests/test_memory_integration.py
  backend/tests/test_memory_service.py
Due: no-print-backend

feat(memory): wire Sprint 1 hooks + fenced recall into the DM and companions
  backend/app/services/ai_service.py
  backend/app/services/combat_service.py
  backend/app/services/loot_service.py
  backend/app/services/memory_service.py
  backend/tests/test_memory_integration.py
Due: no-print-backend

docs: memory/narrative architecture, ToSK POC build spec, roadmap
  design_docs/memory-and-narrative-architecture.md
  design_docs/roadmap.md
  design_docs/tosk-poc-build-spec.md
Due: none

feat(poc): playable Tomb of the Serpent Kings campaign (CC BY-NC-SA)
  .gitignore
  backend/app/services/tosk_setup.py
  backend/scripts/build_tosk_campaign.py
  games/Tomb of the Serpent_Kings v4/ATTRIBUTION.md
  games/Tomb of the Serpent_Kings v4/Tomb of the Serpent_Kings v4.md
  games/Tomb_of_the_Serpent_Kings.json
Due: no-print-backend

feat(llm): add local (Ollama/OpenAI-compatible) provider
  backend/app/agents/models.py
  backend/app/services/system_service.py
  backend/app/services/tosk_setup.py
  backend/tests/test_llm_provider.py
Due: no-print-backend

fix(seed): honor authored NPC position in test campaign seeding
  backend/app/services/test_campaign_setup.py
Due: no-print-backend

feat(llm): robust local provider — skip tool-binding, add Local to settings UI
  backend/app/agents/character_agent.py
  backend/app/agents/dm_agent.py
  backend/tests/test_llm_provider.py
  frontend/src/components/CampaignSettings.tsx
Due: no-console-log-frontend, no-print-backend

fix(test): mock localStorage/sessionStorage in vitest setup
  frontend/src/test/setup.ts
Due: no-console-log-frontend

fix: make local LLM provider fully usable end-to-end
  backend/app/services/ai_service.py
  backend/app/socket/handlers/game_state.py
  frontend/src/components/CampaignSettings.tsx
  frontend/src/pages/CampaignDash.tsx
Due: no-console-log-frontend, no-print-backend

fix: weapon proficiency, room-transition crash, and spell-cast NameError
  backend/app/services/combat_service.py
  backend/app/services/game_service.py
  backend/game_engine/character_sheet.py
  backend/game_engine/engine.py
  backend/tests/test_attack_proficiency.py
Due: no-print-backend

docs: add holistic architecture review + Phase 0–5 roadmap
  .gitignore
  design_docs/holistic-review.md
Due: none

fix(persistence): give the session owner the single commit boundary
  backend/app/ai_tools.py
  backend/app/services/loot_service.py
  backend/app/socket/handlers/inventory.py
Due: no-print-backend

fix(persistence): make game_states a single transactional source of truth
  backend/app/services/state_service.py
  backend/db/init_db.py
  backend/db/schema.py
  backend/tests/test_phase1_persistence.py
Due: no-print-backend

chore(tests): make test_spawn_trio self-clean so the full suite is re-runnable
  backend/tests/test_spawn_trio.py
Due: none

fix(persistence): upsert the legacy POST /game/state insert
  backend/app/routers/game.py
Due: no-print-backend

fix(sync): version-gate state patches with targeted resync
  backend/app/services/state_service.py
  backend/app/socket/handlers/game_state.py
  backend/app/socket_manager.py
  backend/tests/test_state_service.py
  frontend/src/lib/SocketProvider.tsx
  frontend/src/lib/socket.ts
  frontend/src/test/SocketProvider.test.tsx
Due: no-console-log-frontend, no-print-backend

feat(combat): typed damage resistance/immunity/vulnerability pipeline
  backend/app/services/combat_service.py
  backend/game_engine/character_sheet.py
  backend/game_engine/damage.py
  backend/game_engine/engine.py
Due: no-print-backend

docs(memory): add resume/handoff note before retiring old PC
  memory/HANDOFF.md
Due: none

Path conditions:
  no-console-log-frontend: any of: ^frontend/src/.*\.tsx?$, but not: ^frontend/src/lib/firebase.ts|vite.config.ts
  no-print-backend: any of: ^backend/app/ and \.py$ and not (^backend/tests/|^backend/debug_db.py|^backend/scripts/)
